<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEWS</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="stylesheet" type="text/css" href="css/viewport.css">
    <link rel="icon" href="data:,">
</head>
<body>
    <header>
        <h1>Daily News</h1>
        <p><%= currentDate.toLocaleString() %></p>
    </header>
    <div class="categoryBar">
        <div class="category">
                <a href="/home">Home</a>
                <a href="/health">Health</a>
                <a href="/business">Business</a>
                <a href="/technology">Technology</a>
                <a href="/entertainment">Entertainment</a>
                <a href="/sports">Sports</a>
        </div>
    </div>